block append
 div.appBarBlue.appMenuStepBar.flat(id='appUserMenuStepbar')
    button.stepBtn.appBtnBackgroundGray(type='submit') #{appMenuLangVar[0].userpanel_stepbar_save}
    a.stepBtn.appBtnBackgroundGray(href='/userpanel/#{langVar}/?menu=#{menuViewVar}',style='float:left;') #{appMenuLangVar[0].userpanel_stepbar_cancel}
