block append     
     div.navBarTop
      div.navBoxHeader
       img(src='/images/commercial/navbartop/01_commercial.jpg')
      a.appBtnBackgroundGray.btn.navPanelBtn(href='/userpanel/#{langVar}/?menu=on') #{appMenuLangVar[0].nav_navbar_top_mypanel}
       span 
        i.icon-home.icon-2x  
      div.navLoginLine
       a(style='float:left;margin-left:10px;color:black;') #{user.username}

