block append
 div.appBarBlue.appMenuStepBar.flat(id='appUserMenuStepbar')
    button.stepBtn.appBtnBackgroundGray(type='submit') #{appMenuLangVar[0].userpanel_stepbar_next}
    a.stepBtn.appBtnBackgroundGray(href='/userpanel/en_US/?menu=#{menuViewVar}',style='float:left;') #{appMenuLangVar[0].userpanel_stepbar_cancel}
