block append
 div.appBarBlue.appMenuProgres(id='appUserMenuProgres')
       if( stepLevelVar > 0 )
         a.progressMenuButton.appBtnBackgroundGray(href='') Edit
       if( stepLevelVar > 1 )
         a.progressMenuButton.appBtnBackgroundGray(href='') Confirm
