html
 head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title=subject
    body
      h1(style='color:#0F3B75;') 
      p From: #{from}
      p
      p Data:
      div(style='white-space: pre-wrap;') #{dataVar}
