block append
   .appFooter#appFooter
    div.line
     a.element(href='/#{langVar}/') Home
     a.element(href='/index-contact/#{langVar}') Contact Us
     a.element(href='/index-advertise/#{langVar}') Advertise with Us
    div.line
    div.line
     p © 2014 WheelDealer.ca
  
