doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/vendor/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/vendor/hind.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/app-nav-menu-list.css')
    link(rel='stylesheet', href='/stylesheets/app-nav-progressbar.css')
    link(rel='stylesheet', href='/stylesheets/app-product-page.css')
    link(rel='stylesheet', href='/stylesheets/app-product-page-table.css')
    link(rel='stylesheet', href='/stylesheets/app-product-page-gallery.css')
    link(rel='stylesheet', href='/stylesheets/app-product-page-desc.css')
    link(rel='stylesheet', href='/stylesheets/app-nav-navbar.css')
    link(rel='stylesheet', href='/stylesheets/app-nav-contact.css')

    script(src='/javascripts/vendor/jquery-1.9.1.js')
    script(src='/javascripts/vendor/jquery-ui.js')
    script(src='/javascripts/vendor/bootstrap.js')
body
block content
  include ../general/nav-commercial-top
  include nav-navbar-car
  include nav-navbar-car-mobile

  div#Menu.mobileDisplay(style='width:100%;float:left;')
     if (menuViewVar == 'on')
      a.abrir(id='abrir', href='?menu=off') &#8801
      a.fechar.hide(id='fechar', href='?menu=on') &#8801    
     else
      a.abrir.hide(id='abrir', href='?menu=off') &#8801
      a.fechar(id='fechar', href='?menu=on') &#8801    
  .row
    include nav-menu-car
    include product-item-car-det
  div     
   include ../nav-contact-modal
script.
 $(document).ready(function() {    
   $(document).on('click', '.searchBtnOn', function () {
       $('#appNavSearch').show(100);
       $(this).removeClass('searchBtnOn');
       $(this).addClass('searchBtnOff');
   });
   $(document).on('click', '.searchBtnOff', function () {
       $('#appNavSearch').hide(100);
       $(this).removeClass('searchBtnOff');
       $(this).addClass('searchBtnOn');
   });
   $(document).on('click', '.abrir', function () {
      $(this).hide();
      $('#fechar').show();
      $('#appMenu').show(100);
   });    
   $(document).on('click', '.fechar', function () {
      $(this).hide();
      $('#abrir').show();
      $('#appMenu').hide(100);
  
   });    
 });
